* {
  margin: 0;
  padding: 0;
}

:root {
  --fontOnePiece: "onePieceFont";
  --primary-color: #0d3b5f;
  --secondary-color: #e5d012;
}

@font-face{
  font-family: "onePieceFont";
  src: url(/font/onePieceFont.ttf);
}

/* Animation logo qui tourne */
img.test-tourne {
  -webkit-animation:rotate 6s alternate infinite;
  -moz-animation:rotate 6s alternate infinite;
  -o-animation:rotate 6s alternate infinite;
  animation:rotate 6s alternate infinite;
  }
  @-moz-keyframes rotate { 
      from { -moz-transform: rotate(-45deg); } 
      to { -moz-transform: rotate(45deg); }
  }
  @-webkit-keyframes rotate { 
      from { -webkit-transform: rotate(-45deg); } 
      to { -webkit-transform: rotate(45deg); }
  }
  @-o-keyframes rotate { 
      from { -o-transform: rotate(-45deg); } 
      to { -o-transform: rotate(45deg); }
  }

  @keyframes rotate { 
          from {transform: rotate(-45deg); } 
          to {transform: rotate(45deg); }
  }

  div.navbar {
    position: fixed;
    width: 100%;
    background-image: url(../Images/map-navbar.png);
    height: 100px;
    display: flex;
    justify-content: space-around;
    z-index: 2;
  }

  div.burger {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.logo {
    float: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  div.logo img {
    height: 160px;
    margin-top: 60px;
    z-index: 1;
  }

  li.hidden {
    display: none;
  }

  /* menu Navbar */
.sidenav {
  height: 50%;
  width: 150px;
  position: fixed;
  z-index: 4;
  top: 0;
  left: -250px;
  background-image: url(../Images/background.jpg);
  background-size: cover;
  padding-top: 60px;
  transition: left 0.5s ease;
}

/* liens Navbar */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 2rem;
  color: var(--primary-color);
  display: block;
  transition: 0.3s;
  font-family: var(--fontOnePiece);
}

.sidenav a:hover {
  color: var(--secondary-color);
  font-family: var(--fontOnePiece);
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */
.sidenav.active {
  left: 0;
  font-family: var(--fontOnePiece);
}

/* bouton X */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 40px;
  height: 8px;
  background-color: var(--primary-color);
  margin: 6px 0;
}

