.teamPresentation{
    margin: 1rem;
    width: 100%;
}

.containerImageRight{
    width: auto;
    background-color: aqua;
    display:flex;
    flex-direction: column;
    text-align:center;
    flex-wrap: wrap;
    align-items : center;
    justify-content : center
}

.containerImageLeft{
    width: 100vw;
    background-color: rgb(38, 218, 158);
    display:flex;
    flex-direction: column;
    text-align:center;
    flex-wrap: wrap;
    align-items : center;
    justify-content : center
}

img{
    margin-top: 2rem;
    border-radius: 50%; 
    width: 50%;
    align-items: center;
}

@media screen and (min-width:600px){
    .imageLeft{
        float: left;
        width: 25%;
    }
    .presentationRight{
        float: right;
        width: 50%;
    }
}

@media screen and (min-width:600px){
    .imageRight{
        float: right;
        width: 25%;
    }
    .presentationLeft{
        float: left;
        width: 65%;
    }
}

p{
    border: solid;
    border-radius: 15%;
    font-size: 1rem;
    margin: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    width: 50%;
    padding: 2%;
}

@media screen and (min-width:600px){
    p{
        font-size: 2rem;
    }
}
