
.teamPresentation{
    margin: 1vw;
    width: 100vw;
}

h1{
    padding-top: 170px;
    margin-bottom: 5vw;
}

.containerImageRight{
    width: auto;
    /* background-color: aqua; */
    display:flex;
    flex-direction: column;
    text-align:center;
    flex-wrap: wrap;
    align-items : center;
    justify-content : space-around
}

@media screen and (min-width:600px){
    .containerImageRight{
        flex-direction:  row-reverse;
        margin-top: 1vw;
    }
}
/* .containerImageRight,
.containerImageLeft{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 34px;
    font-weight: bold;
} */

.containerImageLeft{
    width: auto;
    /* background-color: rgb(38, 218, 158); */
    display:flex;
    flex-direction: column;
    text-align:center;
    flex-wrap: wrap;
    align-items : center;
    justify-content : space-around
}

@media screen and (min-width:600px){
    .containerImageLeft{
        margin-top: 1vw;
        flex-direction: row
    }
}


.picture{
    margin-top: 2rem;
    border-radius: 50%; 
    width: 50%;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem rgb(236, 232, 233));
}

@media screen and (min-width:600px){
    .imageLeft{
        float: left;
        width: 35vw;
    }
    .presentationRight{
        float: right;
        width: 50%;
    }
}

@media screen and (min-width:600px){
    .imageRight{
        float: right;
        width: 35vw;
    }
    .presentationLeft{
        float: left;
        width: 65%;
    }
}
 

p{
    border: solid;
    border-radius: 15%;
    font-size: 1rem;
    margin: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 2vw;
}

@media screen and (min-width:600px){
    p{
        font-size: 2rem;
    }
}
