* {
  margin: 0;
  padding: 0;
}

:root {
  --fontOnePiece: "onePieceFont";
  --primary-color: #0d3b5f;
  --secondary-color: #e5d012;
}

@font-face{
  font-family: "onePieceFont";
  src: url(/font/onePieceFont.ttf);
}

footer{
    display: flex;
    align-items: flex-end;
    width: 100vw;
    height: 40px;
    background-image: url(../Images/map-navbar.png);
    color: var(--primary-color);
    font-weight: 600;
    display: flex;
    margin-top: 2vw;
}

.left{
    display: flex;
    font-size: 1.5rem;
    padding-left: 3vw;
    float: left;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5px;
}

.right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 5vw;
    align-items: center;
}

img.imgFooter {
  height: 40px;
}
