* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #c3a13b;
    --secondary-color: #0d3b5f;
}

/* Animation logo qui tourne */

img.test-tourne {
    -webkit-animation:rotate 6s alternate infinite;
    -moz-animation:rotate 6s alternate infinite;
    -o-animation:rotate 6s alternate infinite;
    animation:rotate 6s alternate infinite;
    }
    @-moz-keyframes rotate { 
        from { -moz-transform: rotate(-45deg); } 
        to { -moz-transform: rotate(45deg); }
    }
    @-webkit-keyframes rotate { 
        from { -webkit-transform: rotate(-45deg); } 
        to { -webkit-transform: rotate(45deg); }
    }
    @-o-keyframes rotate { 
        from { -o-transform: rotate(-45deg); } 
        to { -o-transform: rotate(45deg); }
    }

    @keyframes rotate { 
            from {transform: rotate(-45deg); } 
            to {transform: rotate(45deg); }
    }
    


nav.desktop {
    z-index: 1977;
    position: fixed;
    width: 100vw;
    height: 100px;
    display: flex;
    /* align-items: center; */
    background-image: url(../Images/map-navbar.png);
}

/* nav.desktop div {
    display: flex;
    width: 100vw;
    height: 100px;
    align-items: center;
    background-image: url(../Images/map-navbar.png);
} */

nav.desktop ul {
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    list-style-type: none;
}

nav.desktop ul li {
    padding: 10px 15px;
}

nav.desktop ul li a {
    text-decoration: none;
    border-radius: 1px solid var(--secondary-color);
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-color);
}

img.test-tourne {
    height: 160px;
}
