* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #c3a13b;
    --secondary-color: #580b13;
}

nav {
    background-color: var(--primary-color);
    margin: 3rem;
}

nav>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 1rem;
}

nav>ul>li>a {
    font-size: 2rem;
}


img.logo {
    height: 80px;
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    -o-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
    }
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

    img.test-tourne {
    height: 80px;
    -webkit-animation:rotate 10s alternate infinite;
    -moz-animation:rotate 10s alternate infinite;
    -o-animation:rotate 10s alternate infinite;
    animation:rotate 10s alternate infinite;
    }
    @-moz-keyframes rotate { 
        from { -moz-transform: rotate(-45deg); } 
        to { -moz-transform: rotate(45deg); }
    }
    @-webkit-keyframes rotate { 
        from { -webkit-transform: rotate(-45deg); } 
        to { -webkit-transform: rotate(45deg); }
    }
    @keyframes rotate { 
        from { -moz-transform: rotate(-45deg); } 
        to { -moz-transform: rotate(45deg); }
    }
    
    