/* @import "variables.css";
@import "header.css";
@import "footer";
@import "main"; */
@font-face {
    font-family: "onePieceFont";
    src: url(assets/font/onePieceFont.ttf);
}
@font-face {
    font-family: "mangat";
    src: url(/font/mangat.ttf);
}
@font-face {
    font-family: "satisfy";
    src: url(/font/Satisfy-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
}


:root{
    --fontOnePiece: "onePieceFont";
    --primary-color: #0d3b5f;
    --secondary-color: white;
    --font-title: 1.5rem;
    --font-text-content: "Maven Pro";
    --fontAutumn : "mangat";
    
}


body{
    background-color: #4FA4E9;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: "onePieceFont";
    position: relative;
    text-align: center; 
    font-size: 8vw; 
}