/* @import "variables.css";
@import "header.css";
@import "footer";
@import "main"; */
*{
    padding: 0;
    margin: 0;
}

:root{
    --primary-color: #c3a13b;
    --secondary-color: #580b13;
}
    

/*style pour faire disparaitre les images quand on passe la souris dessus*/
div{
    background-color: var(--primary-color);
}

nav>div>ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}

nav>div>ul>li{
    font-size: 1.5rem;
}

nav>div>ul>li>a{
    text-decoration: none;
    color: var(--secondary-color);
}

nav>div>ul>li>img{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 8rem;
}